.button {
    cursor: pointer;
    
    &__text-hero {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    &__text-benefits {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
    }

    // &--active {
    //     height: var(--button-height-small);
    //     font-size: 14px;
    //     color: var(--color-black-alt);
    //     border: 1px solid var(--color-black-alt);
    //     border-radius: var(--border-radius-large);
    //     background-color: transparent;
    //     box-shadow: var(--shadow);
    // }
}