.join {
    padding-top: 160px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    &__title {
        font-family: var(--font-family-alt);
        font-size: 75px;
        letter-spacing: 0.03em;

    }

    &__description {
        font-size: 20px;
    }

    &__actions {
        display: flex;
        column-gap: 20px;
    }

    &__button-start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
        font-family: var(--font-family-alt);
        background-color: var(--color-accent);
    }

    &__button-company {
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--border-big);
        border-radius: var(--border-radius-small);
        width: 20vw;
        font-family: var(--font-family-alt);
        background-color: transparent;
        box-shadow: 6px 6px 0 0 #000;;
    }
}